*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(181, 181, 249);
}

.logo>a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.exploreSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.courseSearch{
    display: flex;
    flex-shrink: 1;
    width: 300px;
    /* min-width: 100px;  */
    height: 30px;
    margin: 10px 5px 10px 10px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;
}

.courseSearch:active{
    display: flex;
    flex-shrink: 1;
    width: 300px; 
    height: 30px;
    margin: 10px 5px 10px 10px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;
}

.courseSubmit{
   width: 60px; 
   height: 30px;
   margin: 10px 10px 10px 5px;
   border: none;
   border-radius: 5px;
   background-color: blue;
   color: white;
   font-size: 12px;
    cursor: pointer;
}
.courseSubmit:hover{
    background-color: white;
    color: blue;
    transition: 0.5s;
}
table{
    column-gap: 1px;
    border-left: 2px darkslategrey inset;
    border-top: 2px darkslategrey inset;
    border-right: 2px darkslategrey inset;

    border-spacing: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: fit-content;
    width: 80vw;
    margin: auto;

}
tr .detail{
    visibility: hidden;
}

.material-grid table thead th {
    font-weight: bold;
    color: #111; 
    padding: 12px 8px; 
    border-bottom: 2px solid #b5b5f9;
    text-align: left;
}

#courseTableBody td {
    font-weight: 500; 
    color: #333;
    padding: 10px 8px;
    border-bottom: 1px solid #eee; 
}

#courseTableBody td a {
    font-weight: bold;
    color: #4a7dff; 
    text-decoration: none;
}


