*{
    margin: 0;
    padding: 0;
}

.heading{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
    font-size: 16px;
    align-items: center;
    margin-bottom: 20px;
}

.uploadSymbol{
    height: 30px;
    width: 30px;
    margin-top: 5px;
}

#uploadSymbol{
    width: 50px;
    height: 60px;
    background-color: lab(72.32% 17.63 -39.24);
    border-radius: 5px;
    border: 2px  ridge;
}

.logout{
    width: fit-content;
    display: flex;
    padding: 8px 10px 8px 10px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: blue;
    font-size: 12px;
}
.logout:hover{
    color: blue;
    background-color: white;
    transition: .9s;
}

.uploadedDoc{
    width: 90%;
    height: fit-content;
    margin: auto;
    background-color: lab(72.32% 17.63 -39.24);
}