*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: darkslategrey;
    display: flex;
    padding: 10px 30px 10px 30px;
    justify-content: space-between;
    height: 5em;
    align-items: center;
    font: bold;
    position: fixed;
    width: 100%;
}
.logo{
    color: white;
    font-size: 20px;
    font-family: cursive;
    min-width: 20px;
    display: flex;
    flex-grow: 1;
}

.logo>a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
li{
    display: flex;
    flex-shrink: 1;
    cursor: pointer;
}

.nav>ul{
    display: flex;
    list-style: none;
    gap: 10px;
    color: white;
    align-items: center;
    justify-items: right;
}

.about:hover, .help:hover{
    color: rgb(38, 205, 205);
     transition: 0.5s;
}

.lgbtn{
    background-color: blue;
    color: white;
    padding: 2px 5px 2px 5px;
    border: none;
    border-radius: 2px;
    font-size: 10px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1;
    cursor: pointer;
}
.lgbtn:hover{
    background-color: white;
    color: blue;
    transition: .5s;  
}

.hero{
    background-color: rgb(181, 181, 250);
    height: 100vh;
    padding-left: 40px;
    font-family:Arial, Helvetica, sans-serif, serif;
    align-content: center;
}

.hero>h3{
    font-size: 14px;
    font-family: arial;
}
.explore{
    background-color: rgb(0, 0, 252);
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 2px;
    margin-bottom: 20px;
    cursor: pointer;
}
.explore:hover{
    background-color: white;
    color: blue;
    transition: .5s;
}

#heroImage{
    position: absolute;
    right: 100px;
    top: 100px;
    width: 400px;
    height: 400px;
    z-index: 2;
    border: 5px rgb(181, 181, 250);
    box-shadow: 2px 20px 20px rgb(181, 181, 250);
    border: none;
    display: flex;
}
#heroImage:hover{
    transform: rotate(5deg) translate(20px);
    transition: 0.9s;
    transform: skew(200);
}
.footer{
    background-color: darkslategrey;
    justify-content: center;
    text-align: center;   
    height: 5vh;
    align-content: center;
}
title{
    background-color: yellow;
}

@media (max-width: 1000px){
    .nav{
        flex-direction: column;
        height: auto;
        gap: 10px;
    }
    .logo{
        text-align: center;
    }
    ul{
        justify-content: center;
    }
    .hero{
        padding: 20px;
        text-align: center;
    }
    .heroImage{
        display: none;
    }
}