*{
    margin: 0;
    padding: 0;
}
form{
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    border: 1px black outset;
    padding: 20px;
    border-radius: 12px;
    margin-top: 10vh;
    gap: 10px;
    box-shadow: 1px 1px 10px 5px  rgb(181, 181, 249);
}

.emailInput, .pwdInput{
    width: 260px;
    display: flex;
    height: 25px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 8px;
    border: 2px grey thin;
}
form>.signIn{
    width: fit-content;
    display: flex;
    margin: auto;
    padding: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background-color: blue;
    font-size: 12px;
}

form>.signIn:hover{
    color: blue;
    background-color: white;
    transition: 0.4s;
}
